body{
    background: rgb(191, 191, 191);
}
.container{
    height: 100vh;
}
.error{
    color: red;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
.error-hidden{
    display: none;
}