{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row mt-5 p-5 g-3" id="dashboard-block">
  <div class="col-sm-4">
    <div class="card text-center py-4">
      <div class="card-body">
        <h4 class="text-ceter">Total Equipments</h4>
        <hr>
        <span class="fs-4 fw-bold "></span>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center py-4">
      <div class="card-body">
        <h4 class="text-ceter">Pending Bookings</h4>
        <hr>
        <span class="fs-4 fw-bold ">04</span>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center py-4">
      <div class="card-body">
        <h4 class="text-ceter">Approved Bookings</h4>
        <hr>
        <span class="fs-4 fw-bold ">04</span>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center py-4">
      <div class="card-body">
        <h4 class="text-ceter">Total Bookings</h4>
        <hr>
        <span class="fs-4 fw-bold ">04</span>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
